
{{extend 'layout.html'}}


<style>
.img-zoom {
    text-align: center;
    width:210px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
}

.transition {
    -webkit-transform: scale(2); 
    -moz-transform: scale(2);
    -o-transform: scale(2);
    transform: scale(2);
}

</style>


<script src="{{=URL('static','js/JSmolJME.js')}}"></script>
<script src="{{=URL('static','jsmol/JSmol.min.js')}}"></script>
<!--
JMSE implementation
-->
<!--
<script src="{{=URL('static','jsme/jsme.nocache.js')}}"></script>
-->
<script>
//this function will be called after the JavaScriptApplet code has been loaded.
function jsmeOnLoad() {
    jsmeApplet = new JSApplet.JSME("jsme_container", "380px", "340px");
    jsmeApplet.showInfo("Naturar");
    jsmeApplet.setAfterStructureModifiedCallback(showEvent);
}    

function showEvent(event) {
   //~ var log = document.getElementById("log");
   w2p_keywords.value =  'compound_record.smiles contains "' + event.src.smiles() + '"';
}
</script>

<!--
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="jquery.hoverImageEnlarge.js"></script> 
-->
<script src="{{=URL('static','js/simple-expand.js')}}"></script>


<!--
JSME visible solo en la pagina principal
-->
{{if "view" in request.env.request_uri or "edit" in request.env.request_uri:}} 
<div class="vacio"></div>
<style>
.img-zoom {
    text-align: center;
    width:100px;
    margin:40px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
}


</style>
{{else:}} 
<div class="content"><div id="jsme_container"></div></div>
{{form[0][1][1].components.append(INPUT(_value='Por Estructura',_class="btn btn-default", _id="expander",_type="submit", _onclick=""))}}
{{pass}}


<!--
zoom imagen de compuestos
-->
<script>
		  $(document).ready(function(){
			$('.img-zoom').hover(function() {
				$(this).addClass('transition');
 
			}, function() {
				$(this).removeClass('transition');
			});
		  });
</script>


{{=BEAUTIFY(form)}}

{{if "view" in request.env.request_uri:}} 
    <a id="expander_properties" 
        data-expander-target=".properties_div" 
        href="#">+ Propiedades 
    </a>
    <div class="properties_div"> 
        <div id="propiedades">{{=BEAUTIFY(TABLE(*[TR(*rows) for rows in properties]))}}</div>
    </div>
    <br>

    {{if docs is not None:}}
        <a id="expander_docs" 
            data-expander-target=".docs_div" 
            href="#">+ Referencias 
        </a>
        <div class="docs_div"> 
            <div id="docs2">{{=BEAUTIFY(TABLE(*[TR(*rows) for rows in docs]))}}</div>
        </div>
    {{pass}}
{{pass}}

{{if request.is_local:}}
{{=response.toolbar()}}
{{pass}}

<script>$('#expander').simpleexpand();</script>
<script>$('#expander_properties').simpleexpand();</script>
<script>$('#expander_docs').simpleexpand();</script>






