
{{extend 'layout.html'}}


<style>
.img-zoom {
    text-align: center;
    width:210px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
}

.transition {
    -webkit-transform: scale(2); 
    -moz-transform: scale(2);
    -o-transform: scale(2);
    transform: scale(2);
}

</style>


<script src="{{=URL('static','js/JSmolJME.js')}}"></script>
<script src="{{=URL('static','jsmol/JSmol.min.js')}}"></script>
<!--
JMSE implementation
-->
<!--
<script src="{{=URL('static','jsme/jsme.nocache.js')}}"></script>
-->
<script>
//this function will be called after the JavaScriptApplet code has been loaded.
function jsmeOnLoad() {
    jsmeApplet = new JSApplet.JSME("jsme_container", "380px", "340px");
    jsmeApplet.showInfo("Naturar");
    jsmeApplet.setAfterStructureModifiedCallback(showEvent);
}    

function showEvent(event) {
   //~ var log = document.getElementById("log");
   no_table_isosmiles.value =event.src.smiles() ;
}
</script>

<script src="{{=URL('static','js/simple-expand.js')}}"></script>


<!--
JSME visible solo en la pagina principal
-->
<p></p>
<div class="content"><div id="jsme_container"></div></div>
<p></p>


{{if 'message' in globals():}}
<h2>{{=message}}</h2>
<p class="lead">{{=T('How did you get here?')}}</p>
<ol>
  <li>{{=T('You are successfully running web2py')}}</li>
  <li>{{=XML(T('You visited the url %s', A(request.env.path_info,_href=request.env.path_info)))}}</li>
  <li>{{=XML(T('Which called the function %s located in the file %s',
    (A(request.function+'()',_href='#'),
    A('web2py/applications/%(application)s/controllers/%(controller)s.py' % request,
    _href=URL('admin','default','peek', args=(request.application,'controllers',request.controller+'.py'))))))}}</li>
  <li>{{=XML(T('The output of the file is a dictionary that was rendered by the view %s',
    A('web2py/applications/%(application)s/views/%(controller)s/index.html' % request,
    _href=URL('admin','default','peek',args=(request.application,'views',request.controller,'index.html')))))}}</li>
  <li>{{=T('You can modify this application and adapt it to your needs')}}</li>
</ol>
{{elif 'content' in globals():}}
{{=content}}
{{else:}}
{{=BEAUTIFY(response._vars)}}
{{pass}}


{{if request.is_local:}}
{{=response.toolbar()}}
{{pass}}

<script>$('#expander').simpleexpand();</script>
<script>$('#expander_properties').simpleexpand();</script>
<script>$('#expander_docs').simpleexpand();</script>






