{{extend 'layout.html'}}

<!--
JMSE implementation
-->
<script src="{{=URL('static','jsme/jsme.nocache.js')}}"></script>
<script>
//this function will be called after the JavaScriptApplet code has been loaded.
function jsmeOnLoad() {
    jsmeApplet = new JSApplet.JSME("jsme_container", "380px", "340px");
    jsmeApplet.showInfo("Naturar")
    jsmeApplet.setAfterStructureModifiedCallback(showEvent);
}    


function showEvent(event) {
   //~ var log = document.getElementById("log");
   compound_record_smiles.value =  event.src.smiles();
}
</script>

<h2>{{=' '.join(x.capitalize() for x in request.function.split('_'))}}</h2>
{{if len(response._vars)==1:}}
{{=BEAUTIFY(response._vars.values()[0])}}
{{elif len(response._vars)>1:}}
{{=BEAUTIFY(response._vars)}}
{{pass}}

{{if request.is_local:}}
{{=response.toolbar()}}
{{pass}}

<!--
JMSE box
-->
<div id="jsme_container"></div>
<button type="button" onclick="compound_record_smiles.value=jsmeApplet.smiles()">Show SMILES</button>
